.item{
    /* display: flex; */
    margin:10px;
    margin-left: 30px; 
   
}

.image{
  display: block;
  box-shadow: 0px 0px 2px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 1px;
}

.remove{
  position:sticky;
  background-color: rgb(255, 64, 64);
  height: 30px;
  width: 150px;
  border: none;
  color: aliceblue;
  border-radius: 2px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

.remove:hover{
  transform: scale(1.09);
  transition: 0.5s;
}



.name{
  font: 30px;
  margin-top: 30px;
  width: 250px;
  margin-left: 10px;
}

.price{
  margin-top: 5px;
  font-weight: bold;
  margin-left: 10px;
}

